# Dev
*cache*
/log_samples
lint.sh
cpu*
*.pyc
/tests/logs/NASA*
detect*
*profile*
*.svg
.benchmarks/
/benchmarks/test_.py
/benchmarks/_init_.py
*notes*
*_test*
*save*

# Packaging
*.egg-info/
build/
dist/
