language: python

python:
  - "3.6"

install:
  - pip3 install -r requirements.txt
  - pip3 install -r requirements-dev.txt
  - pip install codecov
  - pip install .

script:
  - ./test.sh --cov

after_success:
  - codecov
